/* Desktop - 1280px*/
@media only screen and (min-device-width: 320px) and (max-device-width: 1366px) {     
  /* Default Section */
  .default-section {
    width: calc(100% - 190px);
    padding: 0 105px;
  }

  .default-section-title {
    font-size: 38px;
    margin: 0 0 80px 0;
  }

  /* Default Button */
  .default-button {
    padding: 25px 20px;
    font-size: 16px;
  }

  .submit-button {
    font-size: 25px;
    height: 40px;
  }

  /* Divider */
  .divider {
    height: 60px;
  }
}