/* Desktop - 1280px*/
@media only screen and (min-device-width: 320px) and (max-device-width: 1366px) {    
  .main-banner {
    padding-bottom: 3.9vh;
    height: auto;
  }

  .main-banner h1 {
    font-size: 110px;
    padding: 35vh 13vw 0;
    line-height: 1.3;
  }

  .main-banner p {
    font-size: 16px;
    margin: 85px 0;
    padding: 0px 25vw;
    line-height: 1.6;
  }

  .main-banner p span {
    font-size: 16px;
  }
}