/* Desktop - 1280px*/
@media only screen and (min-device-width: 320px) and (max-device-width: 1366px) {     
  .services-container {
    margin-top: 170px;
  }

  .service-card {
    background-position-y: -15px;
    background-position-x: -15px;
    background-size: 111%;
  }

  .service-card-title {
    font-size: 22px;
    margin: 45px 0 55px 0;
  }

  .service-card p {
    margin: 0 0 50px 0;
    font-size: 16px;
    padding: 0 77px;
  }
}