.about-wrapper {
  background-image: url("../assets/images/web/bg.png");
  background-repeat: no-repeat;
  background-position-y: -1240px;
  background-position-x: 0px;
  background-size: 100%;
  width: 100%;
  z-index: -1;
  padding-bottom: 10vh;
  height: 3333px;
}

.about-container h2 {
  padding: 85px 0 0;
}

.about-content {
  box-shadow: 0px 0px 30px #0000004D;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  width: 1210px;
  padding: 48px 46px;
  height: 612px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-content p {
  margin: 0 0 27px;
  font-size: 22px;
  line-height: 1.6;
  font-weight: 500;
}

.about-content p:nth-of-type(2) {
  font-weight: 700;
}

.about-content p:last-of-type {
  margin: 0 0 0;
}