@import './about_area.css';
@import './contact.css';
@import './differentials.css';
@import './general.css';
@import './header.css';
@import './footer.css';
@import './main_banner.css';
@import './normalize.css';
@import './services.css';
@import './responsive/about_area.css';
@import './responsive/contact.css';
@import './responsive/differentials.css';
@import './responsive/general.css';
@import './responsive/header.css';
@import './responsive/footer.css';
@import './responsive/main_banner.css';
@import './responsive/services.css';
@import './responsive/mobile/about_area.css';
@import './responsive/mobile/contact.css';
@import './responsive/mobile/differentials.css';
@import './responsive/mobile/general.css';
@import './responsive/mobile/header.css';
@import './responsive/mobile/footer.css';
@import './responsive/mobile/main_banner.css';
@import './responsive/mobile/services.css';