header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 140px;
  position: absolute;
  width: calc(100% - 320px);
  z-index: 999;
  height: 112px;
}

#menu-icon {
  display: none;
}

header .logo-box img {
  width: 228px;
  height: 57px;
}

header nav,
header nav ul {
  display: flex;
}

header nav ul li {
  margin-right: 54px;
  font-size: 22px;
  font-weight: bold;
}

header nav ul li:last-of-type {
  margin-right: 0;
}

header nav ul li a {
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
}

header nav ul li ul {
  display: none;
}

.header-container {
  height: calc(100vh + 4vh);
  position: absolute;
  width: 100%;
  flex: 1;
}

.overlay-fake-close,
.overlay-header {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, .8);
  -webkit-transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
  -ms-transition: opacity 0.6s ease-in-out;
  -o-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
}

.overlay-fake-close.open,
.overlay-header.open {
  filter: alpha(opacity=6);
  opacity: 0.85;
  z-index: 999;
}

.overlay-header.open {
  z-index: 99999;
  height: 64px;
  width: calc(100% - 284px);
}